name: Lint

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - main
      - develop
  workflow_call:

jobs:
  macos-browser-test:
    runs-on: macos-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - run: npm install -D eslint-plugin-unused-imports
        working-directory: ./template
      - run: npx eslint ./src/**/*.ts
        working-directory: ./template

  windows-browser-test:
    runs-on: windows-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - run: npm install -D eslint-plugin-unused-imports
        working-directory: ./template
      - run: npx eslint ./src/**/*.ts
        working-directory: ./template
    